html {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
   
}

/* header, logo and menu link section */
.header-container{
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    z-index: 1000;
    
}
.logo {
    height: 50px;
    margin-left: 10px;
    padding-top: 10px;
}
nav {
    align-items: center;
    margin-left: auto;
    flex-wrap: unwrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 15px;
    overflow: right;
    font-size: 30px;
   
}

a {
    
    color: seashell;
    padding: 0 15px;
    text-decoration: underline;
}

nav li:nth-child(2) {
    white-space: nowrap;
    flex-shrink: 0;
}

nav li {
    flex: 1 1 auto;
}

#mission,
#featured,
#locations {
    scroll-margin-top: 90px; 
}


/* page content starts here */


.page-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        color: seashell;
        opacity: 0.9;
        padding-top: 90px;
       
        
}

/* banner section */
.banner-container {
    position: relative;
    display: inline-block;
    max-width: 1200px;
 
    
}

.mission-container {
   padding-top: 0;
}
.banner-image {
   height: 700px;
   display: block;
   width: 100%;
   
}
.banner-text {
    position: absolute;
    font-size: 20px;
    top: 10%;
    width: 100%;
    background-color: black;
    text-align: center;
    align-items: center;
    
}

.banner-image,
.mission-image,
.locations-image-container {
    display: block; 
}


/* tea of the month section */
.tea-month-container {
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;
    color: white;
    text-align: center;
   
}

.featured-tea-image {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;

}

.featured-tea-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    

}

.fall-berry-blitz-container {
    flex-basis: 33%;
}

.spiced-rum-container {
    flex-basis: 33%;
}

.seasonaldonuts-container {
    flex-basis: 33%;
    
}

.myrtle-bizarre-container {
    flex-basis: 33%;
}

.bedford-bizarre-container {
    flex-basis: 33%;
}

/* locations section */
.locations-container {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    max-width: 1200px;
    width: 100%;
    margin: 15px auto 0;
    height: 500px;
    overflow: hidden;
}

.locations-image-container {
    height: 500px;
   width: 100%;
   object-fit: cover;
   z-index: 1;

}

.location-full-content-container {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow-y: auto;
}
.locations-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    align-items: stretch;
    min-height: 160px;
}

.downtown-container {
    background-color: black;
    opacity: 1;
    width: 300px;
    padding: 20px 25px;
    box-sizing: border-box;
}

.east-bayside-container {
    background-color: black;
    opacity: 1;
    width: 300px;
    padding: 20px 25px;
    box-sizing: border-box;
}

.oakdale-container {
    background-color: black;
    opacity: 1;
    width: 300px;
    padding: 20px 25px;
    box-sizing: border-box;
}

/* contact section */
.contact-container {
    max-width: 1200px;
    margin: 0 auto;     
    text-align: center;
}


/* footer section */
footer {
    text-align: left;
    width: 100%;
    margin-left: 20px;
}

